@import 'node_modules/primeflex/primeflex.css';
@import 'node_modules/primeicons/primeicons.css';

$primary-color: rgb(2, 255, 255, .75);
$secondary-color: rgb(1, 159, 159);
$shadow-color:rgb(0, 150, 150, .75);
$primary-opaque-color: rgb(2, 255, 255, .5);
$shadow-opaque-color:rgb(0, 150, 150, .5);
$opaque:rgb(0, 0, 0, 0);
