$primary-color: rgb(2, 255, 255, .75);
$secondary-color: rgb(1, 159, 159);

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $secondary-color;
}
