@import "../../styles/main";

.doAlign{
    display: flex;
    align-items: center;
}

.j-button-default{
    color: $primary-color;
    border: $border-width solid $primary-color;
    width: fit-content;
    padding: 5px;
    border-radius: $border-radius;
    cursor: pointer;
    background: $default-gradient;
}


.j-button-link{
    color: $primary-color;
    border: none;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
    background: none;
}
.j-button-text{
    color: $primary-color;
    border: none;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
    background: none;
}


.j-button-link:hover{
    text-decoration: underline;
}

.j-button-primary{
    color: white !important;
    border: none !important;
    width: fit-content;
    padding: 5px;
    border-radius: $border-radius;
    cursor: pointer;
    background: $primary-color !important;
}

.j-button-primary:hover{
background: $secondary-color;
}

.j-button-cornered{
    color: $primary-color;
    border: $border-width solid $primary-color;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
    background: none;
    border-radius: 0;
}

.j-button-bordered{
    border: $border-width solid $primary-color !important;
}

.j-button-gradient:active, .j-button-default:active{
    background: $inverted-gradient !important;
}

.j-button-gradient{
    background: $default-gradient;
}
