@import "../../styles/main";

.button-main{
    color: $primary-color;
    border: 2px solid $primary-color;
    width: fit-content;
    padding: 5px;
    border-radius: .7rem;
    cursor: pointer;
    background: linear-gradient(0deg, $opaque 0%, $shadow-opaque-color 100%);
}

.button-main:active{
    background: linear-gradient(0deg, $shadow-opaque-color 0%, $opaque 100%);
}

.button-text{
    margin: 0;
}

.doAlign{
    display: flex;
    align-items: center;
}
