<button #button (click)="onButtonClick()" [ngClass]="styleClass" [disabled]="disabled">
    <div *ngIf="isContentEmpty" class="doAlign" >
        <div *ngIf="iconPosition === 'left'">
            <span *ngIf="isImageEmpty" [class]="icon" class="inline"></span>
            <div *ngIf="!isImageEmpty">
                <ng-content select="buttonImage"/>
            </div>
        </div>
        <p class="inline m-0">{{label}}</p>
        <div *ngIf="iconPosition === 'right'">
            <span *ngIf="isImageEmpty" [class]="icon" class="inline"></span>
            <div *ngIf="!isImageEmpty">
                <ng-content select="buttonImage"/>
            </div>
        </div>
    </div>
    <div *ngIf="!isContentEmpty" class="m-0 p-0">
        <ng-content select="buttonBody"/>
    </div>
</button>

