<div #container>
    <div #body (click)="onFocus()" [ngClass]="_showOptions ? _defaultStyleClassUnfolded : _defaultStyleClassFolded">
        <p *ngIf="_selectedItem != undefined; else defaultMessage" class="m-0">{{label}}</p>
        <ng-template #defaultMessage class="m-0">
            <p class="m-0">{{selectMessage}}</p>
        </ng-template>
    </div>
    <div #dropdown *ngIf="_showOptions" class="border option-group">
        <ul class="m-0">
            <j-list *ngFor="let item of items" [item]="item" (ontItemSelect)="onItemSelect($event)"/>
        </ul>
    </div>

</div>
