.dropdown-main{
    cursor: pointer;
}

.hover :hover{
    background-color: rgba(2, 255, 255, .1);
}

ul{
    list-style: none;
}

.border-left{
    border-left-color: #02ffff;
    border-left-style: solid;
}

.border-bottom{
    border-bottom-color: #02ffff;
    border-bottom-style: solid;
}

.dropdown-options{
    position: absolute;
    width: 99%;
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
}
